:root {
  --topic-color: #ca92ff;
  --topic-color-light: #f0e6ff;
  --topic-color-dark: #a5a5a5;
  --topic-color-hover: #d4b2ff;
  --topic-color-active: #b38aff;
  --topic-color-focus: #a57aff;
  --topic-color-text: #8d6cd4;
  --topic-color-text-dark: #000000;
  --topic-color-text-light: #ffffff;
  --topic-color-border: #a5a5a5;
  --topic-color-border-hover: #b38aff;
  --topic-color-border-active: #d4b2ff;

   --input-label-padding:140px 0 0 0;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: Inter, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
  user-select: none;
}

.h1-title {
    margin-top: 5%;
}

.h1-title span {
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: var(--topic-color-text);
}

.h1-title p {
    font-size: 1.2rem;
    color: var(--topic-color-text);
    text-indent: 2em;
}

input[type="password"]::-webkit-credentials-cramble-button{
    appearance: none;
}

input[type="password"]::-ms-reveal{
    display: none;
}

input[type="password"]::-ms-clear{
    display: none;
}

::-webkit-scrollbar {
  display: none;
}