body {
  width: 100vw;
  height: 100vh;
  font-family: Inter, -apple-system, sans-serif;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.cursor {
  cursor: pointer;
  user-select: none;
}

.h1-title {
    margin-top: 5%;
}

.h1-title span {
    font-size: 1.7rem;
    font-weight: bolder;
    margin-bottom: 20px;
    color: var(--topic-color-text);
}

.h1-title p {
    font-size: 1.2rem;
    color: var(--topic-color-text);
    text-indent: 2em;
}

.props-table {
    margin-top: 20px;
    overflow-x: auto;
}

.props-table h3 {
    font-size: 1.3rem;
    font-weight: bold;
    color: var(--topic-color-text);
    margin-bottom: 10px;
}

.props-table table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.props-table table th,
.props-table table td {
    padding: 12px 10px;
    border: 1px solid #e4e4e4;
    text-align: left;
    font-size: 0.9rem;
}

.props-table table th {
    background-color: #f5f7fa;
    font-weight: bold;
    color: #606266;
}

.props-table table tr:nth-child(2n-1) {
    background-color: #ffffff;
}

.props-table table tr:nth-child(2n) {
    background-color: #eeeeee;
}

input[type="password"]::-webkit-credentials-cramble-button{
    appearance: none;
}

input[type="password"]::-ms-reveal{
    display: none;
}

input[type="password"]::-ms-clear{
    display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* 针对Firefox */
input[type="number"] {
    -moz-appearance: textfield;
}

::-webkit-scrollbar {
  display: none;
}
